 <!-- Navbar -->
 <nav class="navbar container" role="navigation" aria-label="main navigation">
     <div class="navbar-brand">
         <a class="navbar-item" href="/">
             <h1 class="title">Short fork <sup class="is-size-7">{{package_version}}</sup></h1>
         </a>
         <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
         </a>
     </div>

     <div id="navbar" class="navbar-menu">
         <div class="navbar-start">
             <a class="navbar-item is-active" href="/">
                 Главная
             </a>
             <a class="navbar-item" href="https://tightshorts.ru/" id="menu_tightshorts">
                 <ion-icon name="open-outline"></ion-icon>Tight Shorts
             </a>
             <div class="navbar-item has-dropdown is-hoverable">
                 <a class="navbar-link">
                     Контакты
                 </a>

                 <div class="navbar-dropdown">
                     <a class="navbar-item" href="https://t.me/samgozman" target="_blank" rel="nofollow"
                         rel="noreferrer">
                         <ion-icon name="send-outline"></ion-icon> Telegram
                     </a>
                     <a class="navbar-item" href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/"
                         target="_blank" rel="nofollow" rel="noreferrer">
                         <ion-icon name="pulse-outline"></ion-icon> Тинькофф Пульс
                     </a>
                     <a class="navbar-item" href="#support">
                         <ion-icon name="cash-outline"></ion-icon> Поддержать проект
                     </a>
                     <hr class="navbar-divider">
                     <a class="navbar-item" href="https://github.com/samgozman/short-fork/issues" target="_blank"
                         rel="nofollow" rel="noreferrer">
                         <ion-icon name="bug-outline"></ion-icon> Сообщить об ошибке
                     </a>
                 </div>
             </div>
             <a class="navbar-item is-hidden-desktop" id="color_mode_mobile">
                 <ion-icon name="contrast-outline"></ion-icon> Сменить тему
             </a>
         </div>
     </div>
     </div>
     <div class="navbar-end">
         <div class="navbar-item">
             <!-- DARK MODE SWITCH -->
             <label class="switch btn-color-mode-switch is-hidden-touch">
                 <input type="checkbox" name="color_mode" id="color_mode" value="1">
                 <label for="color_mode" data-on="Dark" data-off="Light" class="btn-color-mode-switch-inner"></label>
             </label>
             <!-- /DARK MODE SWITCH -->
         </div>
     </div>
 </nav>
 <!-- Navbar: ends -->