<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Оценка финансовых показателей компании и количества шортов.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="color-scheme" content="dark light">
    <title>Short fork</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="./img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Short Fork">
    <meta name="application-name" content="Short Fork">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="./img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#363636">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="./css/darkmode.css">
    <link rel="stylesheet" href="./css/styles.css">

    <!-- Fonts -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.1/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.5.1/dist/ionicons/ionicons.js"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(72747058, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/72747058" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
    {{> menu }}
    <section class="section">
        <div class="container">

            {{{body}}}

        </div>
    </section>

    <footer class="footer">
        <div class="columns has-text-centered is-align-items-center">
            <div class="column">
                <strong>Информационный спонсор: </strong>
                <br>
                <a class="button sponsor is-rounded is-medium" href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/" target="_blank">Тут могла быть ваша реклама</a>
            </div>
            <div class="column">
                <p>Создано: <a href="https://github.com/samgozman" target="_blank">samgozman</a></p>
                <p>
                    Tinkoff Pulse: <a href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/"
                        target="_blank">aqua_disco</a>
                </p>
                <p id="support">
                    Поддержать Short Fork <ion-icon name="cash-outline"></ion-icon>
                </p>
                <p class="support-block">
                    <a href="https://paypal.me/samgozman" target="_blank" rel="nofollow" rel="noreferrer">
                        <button class="button is-link is-outlined">
                            <ion-icon name="logo-paypal"></ion-icon> PayPal
                        </button>
                    </a>
                    <a href="https://www.tinkoff.ru/rm/gozman.semen1/Ol0PS3882" target="_blank" rel="nofollow"
                        rel="noreferrer">
                        <button class="button is-warning">
                            <ion-icon name="card-outline"></ion-icon> Tinkoff
                        </button>
                    </a>
                </p>
            </div>
            <div class="column">

                <a class="github-button" href="https://github.com/samgozman/short-fork"
                    data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star"
                    data-size="large" data-show-count="true" aria-label="Star samgozman/short-fork on GitHub">Оценить
                    проект</a>
                <br>
                <a class="github-button" href="https://github.com/samgozman/short-fork/issues"
                    data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-issue-opened"
                    data-size="large" data-show-count="true" aria-label="Issue samgozman/short-fork on GitHub">Отчёт об
                    ошибке</a>
            </div>
        </div>
    </footer>

    {{> octocat }}

    <!-- Preloader -->
    <div id="preloader">
        <div id="preloader_preload" class="is-loading"></div>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="./js/apex.js"></script>
    <script src="./js/getQuery.js"></script>
    <script src="./js/Tag.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>