<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Short fork</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- Styles -->
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="container">
        {{{body}}}
        {{> octocat }}
        <footer>
            <p>Создано: <a href="https://github.com/samgozman" target="_blank">samgozman</a></p>
            <p>Tinkoff Pulse: <a href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/" target="_blank">aqua_disco</a>
            </p>
        </footer>
    </div>
<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="./js/app.js"></script>
</body>

</html>