<div class="row">
    <h2>Short Fork</h2>
    <p>
        Быстрый взгляд на финансовые индикаторы и технический анализ иностранных компаний в компактном варианте.
        <br><a href="https://github.com/samgozman/short-fork/tree/main/doc/HOWTOUSE.md" target="_blank">Инструкция
            по работе с приложением</a><br>
    </p>
    <p>🇺🇸 - только NASDAQ, NYSE и AMEX биржи</p>
    <p>
        <strong>Сайт: </strong><a id="resp_site" href="" target="_blank"></a> <br>
        <strong>Компания: </strong><span id="resp_name"></span>
    </p>
</div>

{{> stocks/svgform }}
{{> sponsor }}
{{> stocks/tradingview }}
{{> stocks/nakedCharts }}


<div class="row">
    <p>
        <strong id="error-message"></strong>
    </p>
    <hr>
    <p>Обозначения:</p>
    <ul>
        <li>SV - % шортовых позиций по сделкам за прошлый день</li>
        <li>SF - общий % акций в шорте</li>
        <li>P/E - отношение цены к прибыли</li>
        <li>P/S - отношение цены к выручке</li>
        <li>P/B - отношение цены к балансовой стоимости</li>
        <li>ROE - отдача от капитала</li>
        <li>ROA - отдача от всех активов</li>
        <li>Debt/eq - отношение долгов к капиталу</li>
        <li>Target - разница между текущей стоимостью акции и её средней целевой ценой от аналитиков.</li>
        <li>RSI - индекс относительной силы на дневных свечах с периодом 14. Если больше 70 - красная зона. Ниже
            30 - зелёная.</li>
        <li>Finviz recom - средняя рекомендация к действию от аналитиков. 1-3 покупать, 3-4 держать, 4-5
            продавать.</li>
    </ul>
    <br>
    <p>Не является индивидуальной инвестиционной рекомендацией!</p>
</div>