<div class="columns is-multiline is-mobile">
    <div class="column is-full-mobile is-full-tablet is-full-desktop">
        <p class="subtitle is-size-6 has-text-justified">
            Быстрый взгляд на мультипликаторы, объём шортов и другие финансовые показатели акций в компактном виде.
        </p>
        <div class="notification is-warning is-hidden" id="earnings">
            <strong>🎰 Внимание!</strong> Отчёт близко: <span id="earnings-date"></span>
        </div>
    </div>
</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-one-third">
        <!-- TAGS & FORM -->

        <div class="box">
            {{> stocks/searchform }}
            {{> stocks/financialtags }}
        </div>

        <!-- /TAGS & FORM -->
    </div>

    <div class="column is-one-third">
        <!-- TRADING VIEW -->

        <div class="box">
            {{> stocks/tradingview_tech }}
        </div>

        <!-- /TRADING VIEW -->
    </div>
    <div class="column is-one-third">
        <!-- Volume graphichs -->

        <div class="box">
            <span class="title is-5">Объём шортов</span>
            {{> stocks/tightshorts }}
        </div>

        <!-- /Volume graphichs -->
    </div>

</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-one-third">
        <div class="columns is-flex-direction-column is-variable is-1-mobile h100">
            <div class="column">
                <div class="box">
                    <span class="title is-5">Опционы</span>
                    {{> stocks/options }}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <span class="title is-5">Ссылки</span>
                    <div id="links_list" class="buttons is-centered"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <span class="title is-5">Мнение аналитиков</span>
            {{> stocks/analytics }}
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <span class="title is-5">Выручка и прибыль</span>
            <div id="chartNetIncome"></div>
            <p class="upd-message">
                Обновление данных Barchart раз в {{TTL_BARCHART_FINANCIAL}} дней.
                Не является индивидуальной инвестиционной рекомендацией!
                <a href="https://www.barchart.com/" rel="nofollow" rel="noreferrer"
                    target="_blank">www.barchart.com</a>. <br>
            </p>
        </div>
    </div>
</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-two-third">
        <div class="box">
            <span class="title is-5">Сделки инсайдеров</span>
            {{> stocks/insiders_table }}
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <span class="title is-5">Долг к капиталу</span>
            <div id="chartDebtEquity"></div>
            <p class="upd-message">
                Обновление данных Barchart раз в {{TTL_BARCHART_FINANCIAL}} дней.
                Не является индивидуальной инвестиционной рекомендацией!
                <a href="https://www.barchart.com/" rel="nofollow" rel="noreferrer"
                    target="_blank">www.barchart.com</a>. <br>
            </p>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        {{> stocks/tradingview_chart }}
    </div>
</div>