<div class="columns is-multiline is-mobile">
    <div class="column is-half-mobile">
        <h1 class="title">
            Short fork {{package_version}}
        </h1>
    </div>
    <div class="column has-text-right is-half-mobile">
        <!-- DARK MODE SWITCH -->

        <label class="switch btn-color-mode-switch">
            <input type="checkbox" name="color_mode" id="color_mode" value="1">
            <label for="color_mode" data-on="Dark" data-off="Light" class="btn-color-mode-switch-inner"></label>
        </label>

        <!-- /DARK MODE SWITCH -->
    </div>
    <div class="column is-full-mobile is-full-tablet is-full-desktop">
        <p class="subtitle is-size-6 has-text-justified">
            Быстрый взгляд на количество шортов и другие финансовые показатели акций в компактном варианте.
        </p>
    </div>
</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-one-third">
        <!-- TAGS & FORM -->

        <div class="box">
            {{> stocks/searchform }}
            {{> stocks/financialtags }}
        </div>

        <!-- /TAGS & FORM -->
    </div>

    <div class="column is-one-third">
        <!-- TRADING VIEW -->

        <div class="box">
            {{> stocks/tradingview_tech }}
        </div>

        <!-- /TRADING VIEW -->
    </div>
    <div class="column is-one-third">
        <!-- Volume graphichs -->

        <div class="box">
            <h5 class="title is-5">Объём шортов</h5>
            {{> stocks/nakedchart }}
        </div>

        <!-- /Volume graphichs -->
    </div>

</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-one-third">
        <div class="columns is-flex-direction-column is-variable is-1-mobile h100">
            <div class="column">
                <div class="box">
                    <h5 class="title is-5">Опционы</h5>
                    {{> stocks/options }}
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <h5 class="title is-5">Ссылки</h5>
                    <div id="links_list" class="buttons is-centered"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <h5 class="title is-5">Мнение аналитиков</h5>
            {{> stocks/analytics }}
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <h5 class="title is-5">Долг к капиталу</h5>
            <div id="chartDebtEquity"></div>
            <p class="upd-message">
                Обновление данных Barchart раз в {{TTL_BARCHART_FINANCIAL}} дней.
                Не является индивидуальной инвестиционной рекомендацией!
                <a href="https://www.barchart.com/" rel="nofollow" target="_blank">www.barchart.com</a>. <br>
            </p>
        </div>
    </div>
</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-two-third">
        <div class="box">
            <h5 class="title is-5">Сделки инсайдеров</h5>
            {{> stocks/insiders_table }}
        </div>
    </div>
    <div class="column is-one-third">
        <div class="box">
            <h5 class="title is-5">Выручка и прибыль</h5>
            <div id="chartNetIncome"></div>
            <p class="upd-message">
                Обновление данных Barchart раз в {{TTL_BARCHART_FINANCIAL}} дней.
                Не является индивидуальной инвестиционной рекомендацией!
                <a href="https://www.barchart.com/" rel="nofollow" target="_blank">www.barchart.com</a>. <br>
            </p>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        {{> stocks/tradingview_chart }}
    </div>
</div>