<div class="columns">
    <div class="column is-one-half">
        <h1 class="title">
            Short fork
        </h1>
        <p class="subtitle">
            Description
        </p>
    </div>
</div>

<div class="columns is-variable is-1-mobile">
    <div class="column is-one-third">
        {{> stocks/searchform }}
        {{> stocks/financialtags }}
    </div>
    <div class="column">

        <div class="columns is-variable is-1-mobile">
            <div class="column">
                <!-- TRADING VIEW -->

                <div class="box">
                    {{> stocks/tradingview }}
                </div>

                <!-- TRADING VIEW -->
            </div>
            <div class="column">
                <!-- Volume graphichs -->

                <div class="box">
                    {{> stocks/nakedcharts }}
                </div>

                <!-- Volume graphichs -->
            </div>
        </div>

    </div>
</div>

<div class="columns">
    <div class="column is-one-third">
        {{> sponsor }}
        <div class="content">
            <br>
            <p>Создано: <a href="https://github.com/samgozman" target="_blank">samgozman</a></p>
            <p>Tinkoff Pulse: <a href="https://www.tinkoff.ru/invest/social/profile/aqua_disco/"
                    target="_blank">aqua_disco</a></p>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <h2>Обозначения:</h2>
            <ul>
                <li>SV - % шортовых позиций по сделкам за прошлый день</li>
                <li>SF - общий % акций в шорте</li>
                <li>P/E - отношение цены к прибыли</li>
                <li>P/S - отношение цены к выручке</li>
                <li>P/B - отношение цены к балансовой стоимости</li>
                <li>ROE - отдача от капитала</li>
                <li>ROA - отдача от всех активов</li>
                <li>Debt/eq - отношение долгов к капиталу</li>
                <li>Target - разница между текущей стоимостью акции и её средней целевой ценой от аналитиков.</li>
                <li>RSI - индекс относительной силы на дневных свечах с периодом 14. Если больше 70 - красная зона. Ниже
                    30 - зелёная.</li>
                <li>Finviz recom - средняя рекомендация к действию от аналитиков. 1-3 покупать, 3-4 держать, 4-5
                    продавать.</li>
            </ul>
            <br>
            <p>Не является индивидуальной инвестиционной рекомендацией!</p>
        </div>
    </div>
</div>