/* DARK MODE */

/* csslint ignore:start */
/* stylelint-disable */

/* Scheme for light mode */
body {
    --text-color: #4a4a4a;
    --bkg-color: #fff;
    --strong-color: #363636;
    --footer-bkg-color: #fafafa;
    --modal-bkg: rgba(255, 255, 255, 0.86);
    --modal-top-bottom-bkg: #f5f5f5;
    --modal-border: 1px solid #dbdbdb;
    --box-bkg: #fff;
    --box-shadow:
        0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
    --box-shadow-hover:
        0 0.5em 1em 0.2em rgb(10 10 10 / 10%),
        0 0 0 1px rgb(10 10 10 / 2%);
    --a-color: #3273dc;
    --a-color-hover: #363636;
    --is-buy-bkg: #effaf3;
    --is-buy-color: #257942;
    --is-sale-bkg: #feecf0;
    --is-sale-color: #cc0f35;
    --is-danger-bkg: #f14668;
    --is-warning-bkg: #ffdd57;
    --is-success-bkg: #48c774;
    --is-link-bkg: #3273dc;
    --is-link-button-color: #3273dc;
}

/* Scheme for dark mode */
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #17181c;
    --strong-color: #dbdbdb;
    --footer-bkg-color: #121212;
    --modal-bkg: rgba(10, 10, 10, 0.86);
    --modal-top-bottom-bkg: #242424;
    --modal-border: 1px solid #363636;
    --box-bkg: #1e212c;
    --box-shadow:
        0 0.5em 1em -0.125em rgb(255 255 255 / 10%),
        0 0 0 1px rgb(255 255 255 / 2%);
    --box-shadow-hover:
        0 0.5em 1em 0.2em rgb(255 255 255 / 10%),
        0 0 0 2px rgb(255 255 255 / 2%);
    --a-color: #5ea3e4;
    --a-color-hover: #dbdbdb;
    --is-buy-bkg: inherit;
    --is-buy-color: #48c774;
    --is-sale-bkg: inherit;
    --is-sale-color: #f14668;
    --is-danger-bkg: #ff0537;
    --is-warning-bkg: #ffd324;
    --is-success-bkg: #1ca64c;
    --is-link-bkg: #205bbc;
    --is-link-button-color: white;
}

/* Apply theme according to the system settings */
@media (prefers-color-scheme: dark) {

    /* Scheme for dark mode */
    body {
        --text-color: #eee;
        --bkg-color: #17181c;
        --strong-color: #dbdbdb;
        --footer-bkg-color: #121212;
        --modal-bkg: rgba(10, 10, 10, 0.86);
        --modal-top-bottom-bkg: #242424;
        --modal-border: 1px solid #363636;
        --box-bkg: #1e212c;
        --box-shadow:
            0 0.5em 1em -0.125em rgb(255 255 255 / 10%),
            0 0 0 1px rgb(255 255 255 / 2%);
        --box-shadow-hover:
            0 0.5em 1em 0.2em rgb(255 255 255 / 10%),
            0 0 0 2px rgb(255 255 255 / 2%);
        --a-color: #5ea3e4;
        --a-color-hover: #dbdbdb;
        --is-buy-bkg: inherit;
        --is-buy-color: #48c774;
        --is-sale-bkg: inherit;
        --is-sale-color: #f14668;
        --is-danger-bkg: #ff0537;
        --is-warning-bkg: #ffd324;
        --is-success-bkg: #1ca64c;
        --is-link-bkg: #205bbc;
        --is-link-button-color: white;
    }

    /* Scheme for light mode */
    body.light-theme {
        --text-color: #4a4a4a;
        --bkg-color: #fff;
        --strong-color: #363636;
        --footer-bkg-color: #fafafa;
        --modal-bkg: rgba(255, 255, 255, 0.86);
        --modal-top-bottom-bkg: #f5f5f5;
        --modal-border: 1px solid #dbdbdb;
        --box-bkg: #fff;
        --box-shadow:
            0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
            0 0 0 1px rgb(10 10 10 / 2%);
        --box-shadow-hover:
            0 0.5em 1em 0.2em rgb(10 10 10 / 10%),
            0 0 0 1px rgb(10 10 10 / 2%);
        --a-color: #3273dc;
        --a-color-hover: #363636;
        --is-buy-bkg: #effaf3;
        --is-buy-color: #257942;
        --is-sale-bkg: #feecf0;
        --is-sale-color: #cc0f35;
        --is-danger-bkg: #f14668;
        --is-warning-bkg: #ffdd57;
        --is-success-bkg: #48c774;
        --is-link-bkg: #3273dc;
        --is-link-button-color: #3273dc;
    }
}

html,
.modal-card-body,
.section,
.navbar,
body,
.navbar-menu.is-active {
    background-color: var(--bkg-color);
}

p,
.subtitle,
.navbar-item,
.navbar-link {
    color: var(--text-color);
}

.navbar-link.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-item.has-dropdown:hover .navbar-link {
    background-color: var(--footer-bkg-color);
}

a.navbar-item.is-active,
a.navbar-item.is-active:not(:focus):not(:hover) {
    color: var(--a-color);
}

.navbar-dropdown {
    background-color: var(--footer-bkg-color);
}

strong,
.title,
.modal-card-title,
.field-label>.label,
.table thead td,
.table thead th {
    color: var(--strong-color);
}

.footer {
    background-color: var(--footer-bkg-color);
}

.modal-background {
    background-color: var(--modal-bkg);
}

.modal-card-head,
.modal-card-foot {
    background-color: var(--modal-top-bottom-bkg);
    border-bottom: var(--modal-border);
}

.box,
.tradingview_tech,
#iframe_tech {
    background-color: var(--box-bkg);
}

.box {
    box-shadow: var(--box-shadow);
}

.box:hover {
    box-shadow: var(--box-shadow-hover);
}


a {
    color: var(--a-color);
}

a:hover {
    color: var(--a-color-hover);
}

/* Table */
.table {
    background-color: inherit;
    color: var(--strong-color);
}

tr.is-buy {
    background-color: var(--is-buy-bkg);
    color: var(--is-buy-color);
}

tr.is-sale {
    background-color: var(--is-sale-bkg);
    color: var(--is-sale-color);
}

/* Tags and notifications */
.is-danger,
.notification.is-danger,
.tag:not(body).is-danger {
    background-color: var(--is-danger-bkg);
}

.is-warning,
.notification.is-warning,
.tag:not(body).is-warning {
    background-color: var(--is-warning-bkg);
}

.is-success,
.notification.is-success,
.tag:not(body).is-success {
    background-color: var(--is-success-bkg);
}

.is-link,
.notification.is-link,
.tag:not(body).is-link {
    background-color: var(--is-link-bkg);
}

.button.is-link.is-outlined {
    border-color: var(--is-link-bkg);
    color: var(--is-link-button-color);
}

/* Progress */
.progress.is-danger::-webkit-progress-value,
.progress.is-danger::-moz-progress-bar,
.progress.is-danger::-ms-fill {
    background-color: var(--is-danger-bkg);
}

.progress.is-warning::-webkit-progress-value,
.progress.is-warning::-moz-progress-bar,
.progress.is-warning::-ms-fill {
    background-color: var(--is-warning-bkg);
}

.progress.is-success::-webkit-progress-value,
.progress.is-success::-moz-progress-bar,
.progress.is-success::-ms-fill {
    background-color: var(--is-success-bkg);
}

.progress.is-link::-webkit-progress-value,
.progress.is-link::-moz-progress-bar,
.progress.is-link::-ms-fill {
    background-color: var(--is-link-bkg);
}

/* csslint ignore:end */
/* stylelint-enable */

/* dark switch */
.switch,
.switch>label {
    font-size: 0.75rem;
    color: #424242;
    font-weight: 500;
}

label.switch,
label::after,
label::before {
    box-sizing: unset;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 8.7rem;
    height: 2rem;
    background: #e0e0e0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner::before {
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner::after {
    content: attr(data-off);
    width: 4.35rem;
    height: 1.1rem;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 3px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-color-mode-switch>.alert {
    display: none;
    background: #ff9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: -10;
    margin: 0px;
    visibility: hidden;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner::after {
    content: attr(data-on);
    left: 67px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner::before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked~.alert {
    display: block;
}

/* !DARK MODE */