/* Global */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    padding: 2.5rem 1rem;
    flex: 1;
}

.box {
    padding: .75rem;
    height: 100%;
}

.content:not(:last-child) {
    margin-bottom: 0.75rem;
}

/* Form */
.search-form-input {
    width: 100%;
}

#input_ticker {
    text-transform: uppercase;
}

#submit_button > ion-icon {
    width: 2rem;
    height: 2rem;
}

/* Financial tags */
.field.is-grouped.is-grouped-multiline>.control {
    display: inline-block;
    width: 100%;
}

.group-tags-1>.control>.tags.has-addons>.tag:first-child,
.group-tags-2>.control>.tags.has-addons>.tag:first-child {
    justify-content: left;
}

.group-tags-1>.control>.tags.has-addons>.tag:first-child {
    width: 41%;
}

.group-tags-1>.control>.tags.has-addons>.tag:nth-child(2) {
    width: 59%;
}

.group-tags-2>.control>.tags.has-addons>.tag:first-child {
    width: 48%
}

.group-tags-2>.control>.tags.has-addons>.tag:nth-child(2) {
    width: 52%
}

.tag {
    text-decoration: none!important;
}


/* Update messages */
.upd-message {
    color: #aaa;
    font-size: 10px;
    z-index: 2;
    position: relative;
}

.upd-message>a {
    color: #aaa;
}

.disclaimer {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -0.75rem;
}

/* Tradingview */

.tradingview {
    height: 430px;
}

.tradingview #iframe {
    height: 100%;
    margin: -30px 0px -15px 0px;
    width: 100%;
    overflow: hidden;
}

/* Octocat */
.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #333;
    height: 4rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 4rem;
    z-index: 2;
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6;
}

/* Mobile fixes */

@media (max-width: 350px) {
    .section {
        padding: 2rem 0.35rem;
    }

    .tag:not(body) {
        font-size: .65rem;
    }

    .tags .tag {
        margin-bottom: .3rem;
    }

    .upd-message {
        font-size: 7px;
    }
}