html {
    height: -webkit-fill-available;
}

body {
    max-width: 350px;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    color: #606c76;
    margin: 0 auto;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: block;
    padding: 10px 0px;
    position: relative;
}

p {
    text-align: justify;
}

a {
    color: #2196f3;
}

.example {
    cursor: pointer;
}

.input-group {
    display: inline-block;
}

.search-form {
    height: 50px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 0px;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 16px;
    margin: 0px -4px;
    width: 68px;
}

.button-primary {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border: 0px;
    background: transparent;
    color: #888888;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    font-size: 16px;

    animation: pulse 3s ease infinite alternate;
}

.button-primary:hover {
    color: #1e68f3;
}

form {
        height: 276px;
}

.upd-message {
    color: #aaa;
    font-size: 10px;
}

.upd-message > a{
    color: #aaa;
}

/* SVG Fork styles */
.fork {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.fork svg {
    position: absolute;
    top: -50px;
    left: -150px;
    height: 296px;
}

.g-line {
    fill: none;
    stroke: #cccccc;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.g-text {
    font-size: 13px;
}

#svg-text a:link,
#svg-text a:visited {
    cursor: pointer;
}

#svg-text a:hover {
    text-decoration: underline;
}

/* Right data block */
.extension {
    width: 160px;
    height: 140px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    z-index: 2;
}

.indicator {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin: 4px 0px;
    border: 2px solid #cccccc;
    border-radius: 1rem;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 0 2px;
}

.extension .label {
    font-size: 13px;
    display: inline-block;
    width: 90px;
    text-align: left;
}

#resp_tinkoff {
    width: 150px;
}

#resp_tinkoff.active {
    border: 2px solid #fddc2c;
}

#resp_finviz_target,
#resp_finviz_recom,
#resp_finviz_rsi {
    display: inline-block;
    width: 60px;
}

.upside {
    border: 2px solid #0f9960;
}

.hold {
    border: 2px solid #daae1e;
}

.downside {
    border: 2px solid #db3737;
}

/* Tradingview */
.tradingview,
.tradingview #iframe {
    height: 420px;
    padding: 0px;
}

#iframe {
    width: 100%;
}

.h0,
.h0>#iframe {
    height: 0px !important;
}

/* Octocat */
.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #333;
    height: 4rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 4rem;
    z-index: 2;
}

.octocat .octocat-arm,
.octocat .octocat-body {
    fill: #f4f5f6;
}

/* Animation */
@keyframes pulse {

    0%,
    100% {
        transform: scale(0.9);
        color: #888888;
    }

    50% {
        transform: scale(1.0);
        color: #01d7fd;
    }
}

/* Mobile */
@media (max-width: 480px) {
    body {
        align-items: unset;
    }
}

@media (max-width: 350px) {
    body {
        max-width: 300px;
        align-items: unset;
    }
    
    form {
        height: 246px;
    }

    .fork svg {
        left: -146px;
        top: -46px;
        height: unset;
        width: 95vw;
    }

    .button-primary {
        width: 46px;
        height: 46px;
    }

    .search-form {
        height: 46px;
        font-size: 14px;
    }
}