html {
    height: -webkit-fill-available;
}

body {
    max-width: 350px;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    color: #606c76;
    margin: 0 auto;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: block;
    padding: 10px 0px;
}

p {
    text-align: justify;
}

.input-group {
    display: inline-block;
}

.search-form {
    height: 50px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 0px;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0px 16px;
    margin: 0px -4px;
    width: 68px;
}

.button-primary {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border: 0px;
    background: transparent;
    color: #888888;
    font-family: 'Roboto',
        'Helvetica Neue',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.button-primary:hover {
    color: #1e68f3;
}

form {
    height: 266px;
}

/* SVG Fork styles */
.fork {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.fork svg {
    position: absolute;
    top: -50px;
    left: -150px;
    height: 266px;
}

.g-line {
    fill: none;
    stroke: #cccccc;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.g-text {
    font-size: 13px;
}

#svg-text a:link,
#svg-text a:visited {
    cursor: pointer;
}

#svg-text a:hover {
    text-decoration: underline;
}

/* Mobile */
@media (max-width: 480px) {
    body {
        align-items: unset;
    }
}

@media (max-width: 350px) {
    body {
        max-width: 300px;
        align-items: unset;
    }

    .fork svg {
        left: -149px;
        top: -48px;
        height: unset;
        width: 100vw;
    }

    .button-primary {
        width: 48px;
        height: 48px;
    }

    .search-form {
        height: 48px;
    }
}