body {
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fork {
    display: inline-block;
    position: relative;
    width: 300px;
}

svg {
    position: absolute;
    top: -88px;
}

.input-group {
    display: inline-block;
}

.search-form {
    border: 1px solid #cccccc;
    padding: 16px;
    margin: 0px -4px;
    font-size: 14px;
}

.button-primary {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 16px;
    font-size: 14px;
}