<div class="table-container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Инсайдер</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Инсайдер</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Сумма</th>
            </tr>
        </tfoot>
        <tbody id="resp_insidersDeals_tbody">

        </tbody>
    </table>
</div>