<div class="table-container is-flex-grow-1">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Инсайдер</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody id="resp_insidersDeals_tbody">

        </tbody>
    </table>
</div>
<p class="upd-message">
    Обновление данных Finviz раз в {{TTL_FINVIZ}} минут.
    Не является индивидуальной инвестиционной рекомендацией!
    <a href="https://finviz.com/" target="_blank" rel="nofollow">finviz.com</a>. <br>
</p>