<div id="synced-charts">
    <div id="chartVolume"></div>
    <div id="chartShortPercent"></div>
</div>

<p class="upd-message">
    Обновление данных раз в {{TTL_NAKEDSHORT}} минут.
    <a href="https://nakedshortreport.com/" target="_blank" rel="nofollow">nakedshortreport.com</a>.
    <br>
    Вообще не является индивидуальной инвестиционной рекомендацией!
</p>