<h3>Объём торгов за месяц</h3>
<div class="row">
    <div id="synced-charts">
        <div id="chartVolume"></div>
        <div id="chartShortPercent"></div>
    </div>
    <p class="upd-message">
        Обновление данных раз в 20 минут.
        <a href="https://nakedshortreport.com/" target="_blank">nakedshortreport.com</a>.
        <br>
        Вообще не является индивидуальной инвестиционной рекомендацией!
    </p>
</div>
