<!-- Start form -->

<form class="field has-addons">
    <div class="control">
        <button class="button is-dark" id="submit_button" type="submit">⮑</button>
    </div>
    <div class="control search-form-input" id="input_ticker_control">
        <input class="input is-dark" id="input_ticker" type="text" placeholder="Тикер">
    </div>
</form>

<!-- End form -->