<div id="main" class="row">
    <!-- Form -->
    <form>
        <input class="button-primary" id="submit_button" type="submit" value="⮑">
        <input class="search-form" id="input_ticker" type="text" placeholder="Тикер">

        <!-- SVG UI -->
        <div class="fork">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 300">
                <g id="lines">
                    <line class="g-line" x1="150.5" y1="20.13" x2="180.5" y2="20.13" />
                    <line class="g-line" x1="180.5" y1="20.13" x2="194.64" y2="6.74" />
                    <line class="g-line" x1="194.64" y1="6.74" x2="224.64" y2="6.74" />
                    <line class="g-line" x1="150.5" y1="70.13" x2="180.5" y2="70.13" />
                    <line class="g-line" x1="180.5" y1="70.13" x2="194.64" y2="85.02" />
                    <line class="g-line" x1="194.64" y1="85.02" x2="224.64" y2="85.02" />
                    <line class="g-line" x1="150.5" y1="45.13" x2="224.64" y2="45.13" />
                </g>
                <g id="form">
                    <rect class="g-line" x="50.5" y="20.13" width="100" height="50" />
                </g>
                <g id="button">
                    <rect class="g-line" x="0.5" y="20.13" width="50" height="50" />
                </g>
                <g id="financials">
                    <line class="g-line" x1="0.5" y1="70.13" x2="0.5" y2="101.87" />
                    <line class="g-line" x1="0.5" y1="101.87" x2="11.1" y2="112.47" />
                    <line class="g-line" x1="11.1" y1="112.47" x2="81.1" y2="112.47" />
                    <line class="g-line" x1="0.5" y1="112.47" x2="0.5" y2="132.47" />
                    <line class="g-line" x1="0.5" y1="132.47" x2="11.1" y2="143.08" />
                    <line class="g-line" x1="11.1" y1="143.08" x2="81.1" y2="143.08" />
                    <line class="g-line" x1="0.5" y1="143.08" x2="0.5" y2="163.08" />
                    <line class="g-line" x1="0.5" y1="163.08" x2="11.1" y2="173.69" />
                    <line class="g-line" x1="11.1" y1="173.69" x2="81.1" y2="173.69" />
                    <line class="g-line" x1="0.5" y1="173.08" x2="0.5" y2="193.08" />
                    <line class="g-line" x1="0.5" y1="193.08" x2="11.1" y2="203.69" />
                    <line class="g-line" x1="11.1" y1="203.69" x2="81.1" y2="203.69" />
                    <line class="g-line" x1="0.5" y1="203.69" x2="0.5" y2="223.69" />
                    <line class="g-line" x1="0.5" y1="223.69" x2="11.1" y2="234.29" />
                    <line class="g-line" x1="11.1" y1="234.29" x2="81.1" y2="234.29" />
                    <line class="g-line" x1="0.5" y1="234.29" x2="0.5" y2="254.29" />
                    <line class="g-line" x1="0.5" y1="254.29" x2="11.1" y2="264.9" />
                    <line class="g-line" x1="11.1" y1="264.9" x2="81.1" y2="264.9" />
                    <line class="g-line" x1="0.5" y1="264.9" x2="0.5" y2="284.9" />
                    <line class="g-line" x1="0.5" y1="284.9" x2="11.1" y2="295.51" />
                    <line class="g-line" x1="11.1" y1="295.51" x2="81.1" y2="295.51" />
                </g>
                <g id="text-financials-title">
                    <text class="g-text" transform="translate(25.5 107.17)">Price: </text>
                    <text class="g-text" transform="translate(25.5 137.78)">P/E: </text>
                    <text class="g-text" transform="translate(25.5 168.38)">P/S: </text>
                    <text class="g-text" transform="translate(25.5 198.38)">P/B: </text>
                    <text class="g-text" transform="translate(25.5 228.99)">ROE: </text>
                    <text class="g-text" transform="translate(25.5 259.6)">ROA:</text>
                    <text class="g-text" transform="translate(25.5 290.2)">Debt/Eq:</text>
                </g>
                <g id="text-financials">
                    <text class="g-text" id="resp_price" transform="translate(89.1 107.3)">$</text>
                    <text class="g-text" id="resp_pe" transform="translate(90.4 137.92)"></text>
                    <text class="g-text" id="resp_ps" transform="translate(90.4 168.53)"></text>
                    <text class="g-text" id="resp_pb" transform="translate(90.4 198.53)"></text>
                    <text class="g-text" id="resp_roe" transform="translate(90.4 228.99)">%</text>
                    <text class="g-text" id="resp_roa" transform="translate(90.4 259.74)">%</text>
                    <text class="g-text" id="resp_debteq" transform="translate(90.4 290.2)"></text>
                </g>
                <g id="svg-text">
                    <text class="g-text" transform="translate(229.32 10.3)">
                        <tspan id="resp_naked">%</tspan>
                        <a href="https://nakedshortreport.com/" target="_blank"> naked</a>
                    </text>
                    <text class="g-text" transform="translate(229.32 48.88)">
                        <tspan id="resp_squeeze">%</tspan>
                        <a href="https://shortsqueeze.com/" target="_blank"> squeeze</a>
                    </text>
                    <text class="g-text" transform="translate(229.32 88.56)">
                        <tspan id="resp_finviz">%</tspan>
                        <a href="https://finviz.com/" target="_blank"> finviz</a>
                    </text>
                </g>
            </svg>
        </div>
        <!-- End of SVG UI -->
    </form>
    <!-- End of Form -->
    <div class="extension">
        <span id="resp_tinkoff" class="indicator" title="TinkON - если доступна на Тинькофф. TinkOFF если нет."></span>
        <span class="label">Target: </span><span id="resp_finviz_target" class="indicator"
            title="Разница между текущей стоимостью акции и её средней целевой ценой от аналитиков.">+1900%</span>
        <span class="label">RSI (14): </span><span id="resp_finviz_rsi" class="indicator"
            title="RSI на дневных свечах с периодом 14. Если больше 70 - красная зона. Ниже 30 - зелёная.">46</span>
        <span class="label">Finviz recom: </span><span id="resp_finviz_recom" class="indicator"
            title="Средняя рекомендация к действию от аналитиков. 1-3 покупать, 3-4 держать, 4-5 продавать.">2 -
            Buy</span>
    </div>
</div>

<p class="upd-message">
    Обновление данных раз в 20 минут.
    <a href="https://github.com/samgozman/short-fork/blob/main/doc/HOWTOUSE.md#источники-данных"
        target="_blank">Источники данных</a>.
    <br>
    Не является индивидуальной инвестиционной рекомендацией!
</p>