<div id="synced-charts">
    <div id="chartVolume"></div>
    <div id="chartShortPercent"></div>
</div>

<p class="upd-message">
    Обновление данных раз в {{TTL_TIGHTSHORTS}} минут.
    <a href="https://tightshorts.ru/" target="_blank" id="chart_link_tightshorts">TightShorts.ru</a>.
    <br>
    Вообще не является индивидуальной инвестиционной рекомендацией!
</p>