<div class="tradingview_tech">
    <iframe scrolling="no" src="" frameborder="0" id="iframe_tech" title="Технический анализ от TradingView"></iframe>
</div>

<p class="tradingview-copyright">
    <a href="https://ru.tradingview.com/gopro/?share_your_love=eragonovich" target="_blank">Технический анализ от </a>TradingView
</p>

<p class="upd-message">
    Виджет <a href="https://ru.tradingview.com/gopro/?share_your_love=eragonovich" target="_blank">TradingView</a> отображается в реальном времени.
    <br>
    И тоже не является индивидуальной инвестиционной рекомендацией!
</p>