<div class="tradingview">
    <iframe scrolling="no" src="" frameborder="0" id="iframe"></iframe>
</div>

<p class="upd-message">
    Виджет TradingView отображается в реальном времени.
    <br>
    И тоже не является индивидуальной инвестиционной рекомендацией!
</p>