<div class="row tradingview hide">
    <iframe src="" frameborder="0" id="iframe"></iframe>
    <p class="upd-message">
        Виджет TradingView отображается в реальном времени.
        <br>
        И тоже не является индивидуальной инвестиционной рекомендацией!
    </p>
</div>