<div class="tradingview_chart">
    <iframe scrolling="no" src="" frameborder="0" id="iframe_chart" title="График TradingView"></iframe>
</div>

<p class="tradingview-copyright">
    <a href="https://ru.tradingview.com/gopro/?share_your_love=eragonovich" target="_blank">График от </a>TradingView
</p>